.vs
obj
bin
Debug
Release
build
*.opensdf
*.sdf
*.suo
*.user
*.dbmdl
*.ldf
*.mdf
packages
node_modules
logs
TestsResult
.idea
*.jfm
.DS_Store
*.lock.json

/src/frontend/report.html
src/database/iVantageETL/WB/Land4DManualAdjust.dtsx
/src/backend/iVantage.Indicator.Shell/Properties/launchSettings.json
/src/backend/iVantage.Indicator.Shell/Configuration/endpoints.config
/src/backend/iVantage.Indicator.Shell/Configuration/nlog.config
/src/backend/iVantage.Indicator.Shell/wwwroot/spa/reporting
/src/backend/iVantage.Indicator.Shell/wwwroot/spa/workbench
